section.introduction
  .container
    .introduction-wrap
      .introduction-title=introduction.title
      ul.introduction-list.flex
        each item in introduction.list
          li.introduction-list__item !{item}
      .introduction-offer-group.flex.jcsb
        .introduction-offer
          .introduction-offer-title=introduction.offer.title
          p !{introduction.offer.text}
          p.medium-italic !{introduction.offer.text_medium_italic}
        .introduction-img
          img(src="img/introduction-img.png" alt="woman with heart")
