section.project-info#project-info
  .container
    h2=project_info.title
    .project-tabs.flex
      each tab, index in project_info.tabs
        button.project-tabs__item(class=index == 0 ? 'active' : '')=tab.title
    each content, index in project_info.tabs
      .project-content.flex.jcsb(class=index == 0 ? 'active' : '')
        .project-info-slider
          each item in content.items
            .project-info-slider__item
              each text in item.text
                p !{text}
        .project-img
          +#{'include-svg-' + content.image}
