section.hero-section.category-section.js-tabs
    .show-before-tablet
        if show_breadcrumbs
            include ../../components/breadcrumbs
    .container
        p.hero-section__text Выберите модель ультразвукового сканера Mindray
        div
            .js-tabs__nav.custom-tabs
                each item, index in category_tabs
                    if index === 1
                        button.js-tabs__nav-item.custom-tabs-item.active=item.nav_item
                            include ../../../svg/icon-attention-01.svg
                    else
                        button.js-tabs__nav-item.custom-tabs-item=item.nav_item
                            include ../../../svg/icon-attention-01.svg
            each item, index in category_tabs
                if index === 1
                    .js-tabs__content.custom-tabs__content.active
                        .product-list.flex
                            each item in product_list
                                .product-item
                                    .product-item__img
                                        img(src='img/' + item.product_img alt=item.product_title)
                                    .product-item__title=item.product_title
                                    .product-item__price=item.product_price
                else
                    .js-tabs__content.custom-tabs__content
                        .product-list.flex
                            each item in product_list
                                .product-item
                                    .product-item__img
                                        img(src='img/' + item.product_img alt=item.product_title)
                                    .product-item__title=item.product_title
                                    .product-item__price=item.product_price
