-
  var sidebar_categories = {
    class: 'sidebar-categories',
    title: 'Вода & Напитки',
    icon: 'font-icon-water',
    visible_count: 6,
    groups: [
      {
        title: false,
        items: [
          {
            title: 'Smeraldina'
          },
          {
            title: 'Vichy Catalan',
            class: 'active'
          },
          {
            title: 'Горянка',
          },
          {
            title: 'Smeraldina',
          },
          {
            title: 'Vichy Catalan',
          },
          {
            title: 'Горянка',
          }
        ]
      }
    ]
  };

-
  var sidebar_categories_2 = {
    class: 'sidebar-categories',
    title: 'Чай',
    icon: 'font-icon-tea',
    visible_count: 6,
    groups: [
      {
        title: false,
        items: [
          {
            title: 'Smeraldina'
          },
          {
            title: 'Vichy Catalan',
            class: 'active'
          },
          {
            title: 'Горянка',
          },
          {
            title: 'Smeraldina',
          },
          {
            title: 'Vichy Catalan',
          },
          {
            title: 'Горянка',
          }
        ]
      }
    ]
  };

mixin sidebar_item(group, i)
  .sidebar-item(class=group.class)
    p.sidebar-item__title
      i(class=group.icon)
      | !{group.title}
    each group_item in group.groups
      .sidebar-group
        if group_item.title
          p.sidebar-group__title=group_item.title
        .sidebar-group__content(data-visible-items-count=group.visible_count data-visible-items-textmore='Показать все')
          each item, index in group_item.items
            //a.sidebar-group__item(href='#' class=item.class)=item.title
            div.sidebar-group__item
              input.checkbox(type="checkbox" id="filter-item-" + i + index)
              label(for="filter-item-" + i + index)=item.title
          a(href="#").catalog-list__btn Показать все

aside.category-page__sidebar.main-catalog
  .sidebar-title Фильтры
    i.font-icon-arrow
  .sidebar-filters-wrap
    +sidebar_item(sidebar_categories, 1)
    +sidebar_item(sidebar_categories_2, 2)
