//-
	-
		var firstscreen_background = 'freight-elevators-firstscreen-bg.jpg',
				firstscreen_title = '',
				firstscreen_subtitle = '',
				firstscreen_class = '',
				disable_icons = '',
				firstscreen_note = '';

mixin product_section_firstscreen(firstscreen_background, firstscreen_title, firstscreen_subtitle, firstscreen_class, disable_icons, firstscreen_note)
	section.section-firstscreen(class=firstscreen_class style='background-image: url(img/' + firstscreen_background + ');')
		.container
			.product-firstscreen
				h1.firstscreen-title !{firstscreen_title}
				if firstscreen_subtitle
					p.firstscreen-subtitle !{firstscreen_subtitle}
				if !disable_icons
					hr.firstscreen-line

					if firstscreen_note
						.firstscreen-note
							p Установка подъемников поможет решить проблему доставки товаров в магазины в любое время, не мешая посетителям торгового центра. С одной стороны, это облегчает жизнь арендаторам, а с другой, делает комфортным пребывание покупателей, так что трафик увеличивается.
							p Мы поможем вам решить задачи по обеспечению логистики торгового центра, выбрав подходящие грузовые подъемники. Вы сможете заниматься своими делами, не беспокоясь о надежности и безопасности подъемников. Позвоните нам, чтобы сделать ваш торговый центр более удобным!
							p Мы поможем вам решить задачи по обеспечению логистики торгового центра, выбрав подходящие грузовые подъемники. Вы сможете заниматься своими делами, не беспокоясь о надежности и безопасности подъемников. Позвоните нам, чтобы сделать ваш торговый центр более удобным!
						button.expand-firstscreen-note подробнее

					-
						var advantages_items = [
							{
								image: 'icon-advantage-medal.png',
								image_width: '42',
								image_height: '52',
								image_alt: 'Медаль',
								text: 'Гарантия <br> <span>5</span> лет'
							},
							{
								image: 'icon-advantage-gears.png',
								image_width: '52',
								image_height: '52',
								image_alt: 'Шестеренки',
								text: '“Под ключ” <br> - за <span>25</span> дней'
							},
							{
								image: 'icon-advantage-cert.png',
								image_width: '48',
								image_height: '51',
								image_alt: 'Сертификат',
								text: 'Продукция <br> сертифицированна'
							}
						];
					.firstscreen-advantages-group
						each item in advantages_items
							.firstscreen-advantage-item
								.firstscreen-advantage-image-wrap
									img.firstscreen-advantage-image(src='img/' + item.image width=item.image_width + 'px' height=image_height + 'px' alt=image_alt)
								.firstscreen-advantage-text
									p !{item.text}


