-
	var infotabs_info = [
						{
							image: 'lifts-00.jpg',
						},
						{
							image: 'lifts-01.jpg'
						},
						{
							image: 'lifts-01.jpg'
						},
						{
							image: 'lifts-01.jpg'
						},
					],
					infotabs_data = {
						capacity: 'до 400 кг',
						height: 'до 9 м',
						speed: 'до 0,15 м/с',
						// size: '1100 х 1400 х 2000 и 1250 х 1250 х 2000',
						// power: 'до 1,4 кВт'
					},
					infotabs_table = [
						{
							title: 'Исполнение:',
							text: 'Металлическая шахта',
							text_2: 'Готовая шахта',
							heading: true,
						},
						{
							title: 'Грузоподъемность:',
							text: '250 кг',
							text_2: '',
						},
						{
							title: 'Скорость подъема: ',
							text: '0,13 м/сек'
						},
						{
							title: 'Мощность привода:',
							text: '1,5 кВт'
						},
						{
							title: 'Привод подъема:',
							text: 'Цепной'
						},
						{
							title: 'Полезный размер платформы:',
							text: 'Ширина 900 мм <br> Глубина 1250 мм',
							text_2: 'Ширина 900 мм <br> Глубина 1250 мм'
						},
						{
							title: 'Высота ограждения платформы:',
							text: '1100 мм'
						},
						{
							title: 'Высота приямка / пандуса:',
							text: '150 мм <br> По умолчанию пандуса нет. Если нет возможности подготовить приямок, <br> изготавливается стационарный  пандус на первом этаже'
						},
						{
							title: 'Отделка платформы:',
							text: 'Пол алюминиевый ребристый лист, боковые стороны алюминиевый ребристый лист / оцинкованный лист.'
						},
						{
							title: 'Ограждение верхней остановки:',
							text: 'Варианты обшивки шахты <br> - Стекло с 3-х , с 4-х сторон + металлический лист изнутри и снаружи. <br> - Сэндвич-панели с 4-х сторон + металлический лист изнутри и снаружи <br> - Сэндивч-панели полностью <br> - Металлический лист изнутри и металлический лист/профильный лист/нержавеющая сталь снаружи.'
						},
						{
							title: 'Ограждение верхней остановки',
							text: 'Распашная одностворчатая дверь <br> Отделка - стекло триплекс +  алюминиевый ребристый лист / нержавейка / стекло / оцинкованный лист'
						},
						{
							title: 'Посты управления:',
							text: 'Располагаются на первой остановке, на второй остановке, на ограждении платформы'
						},
						{
							title: 'Способ крепления подъемника:',
							text: 'К полу и стене анкерными болтами'
						},
						{
							title: 'Системы безопасности:',
							text: 'Концевые выключатели перепрохода этажных концевых выключателей <br> Концевой выключатель двери <br> Электромеханическая защелка двери <br> Концевой выключатель под платформой на рамке безопасности <br> Концевой выключатель обрыва цепей <br> Концевой выключатель перекоса цепей <br> Концевик срабатывания ловителя <br> Частотный преобразователь в здании <br> Аварийное освещение шахты (светильник на верху шахты), <br> постоянным освещением выступает led лента'
						}
					];

section.section-product-infotabs.grey-background
	.container
		.product-infotabs-container
			.infotabs-controls
				button.infotabs-controls-item.active(data-tabs='info') Общая информация
				button.infotabs-controls-item(data-tabs='tech') Технические характеристики
			.infotabs-content
				// ===================================
				.infotabs-content-item.active(data-tabs='info')
					.infotabs-info-group.infotabs-full-image
						// ===
						.infotabs-info-thumb
							.infotabs-info-preview
								each item in infotabs_info
									.infotabs-info-preview-item(style='background-image: url(img/infotabs-info/' + item.image + ');')
							.infotabs-info-picture
								each item in infotabs_info
									.infotabs-info-picture-item
										//.infotabs-info-picture-image(style='background-image: url(img/infotabs-info/' + item.image + ');')
										img(src='img/infotabs-info/' + item.image)
						// ===
						.infotabs-info-data
							.products-slider-item-info
								if infotabs_data.capacity
									.info-item.info-capacity
										span.info-item-name Грузоподъёмность:
										span.dots
										span.info-item-value=infotabs_data.capacity
								if infotabs_data.height
									.info-item.info-height
										span.info-item-name Высота подъема:
										span.dots
										span.info-item-value=infotabs_data.height
								if infotabs_data.speed
									.info-item.info-speed
										span.info-item-name Скорость подъёма латформы:
										span.dots
										span.info-item-value=infotabs_data.speed
								if infotabs_data.size
									.info-item.info-size
										span.info-item-name Размер платформы:
										span.dots
										span.info-item-value=infotabs_data.size
								if infotabs_data.power
									.info-item.info-power
										span.info-item-name Максимальная потребляемая мощность:
										span.dots
										span.info-item-value=infotabs_data.power

							.infotabs-infodata-price
								.infotabs-price-cost Стоимость: #[span от 120 000 рублей]
								a.infotabs-price-button(href='#') Получить точный расчёт
							.infotabs-infodata-text.wysiwyg-content
								p Вертикальным подъемникам для инвалидов до 9 метров необходимо дополнение в виде конструкции, ограждающей шахту, чтобы обеспечить большую безопасность. Данную конструкцию ЛПЦ «Титан» изготавливает с соблюдением всех технологических правил и норм, предоставляя вам выбор вариантов декора и остекления.
								p Инвалидные вертикальные подъемники необходимы людям с ограниченной мобильностью, чтобы обеспечить проход в те места, где монтаж лифта оказывается невозможным, например, на крутую лестницу.
								p Вертикальным подъемникам для инвалидов до 9 метров необходимо дополнение в виде конструкции, ограждающей шахту, чтобы обеспечить большую безопасность. Данную конструкцию ЛПЦ «Титан» изготавливает с соблюдением всех технологических правил и норм, предоставляя вам выбор вариантов декора и остекления.
								p Инвалидные вертикальные подъемники необходимы людям с ограниченной мобильностью, чтобы обеспечить проход в те места, где монтаж лифта оказывается невозможным, например, на крутую лестницу.
							.infotabs-expand-button-wrap
								button.infotabs-expand-button
									span подробнее


				// ===================================
				.infotabs-content-item(data-tabs='tech')
					.infotabs-table
						each item in infotabs_table
							.infotabs-table-row
								.infotabs-table-data.data-heading !{item.title}
								if item.text_2
									.infotabs-table-data.data-content.data-half-content
										if item.heading
											.half-content.table-heading !{item.text}
											.half-content.table-heading !{item.text_2}
										else
											.half-content !{item.text}
											.half-content !{item.text_2}
								else
									.infotabs-table-data.data-content !{item.text}
