-
	var quality_items = [
		{
			image: 'product-quality-00.png',
			image_width: '44',
			image_height: '52',
			title: 'Безопасность',
			text: 'Конструкция транспортера предупреждает «зажевывание» краев одежды и посторонних предметов. Благодаря системе блокировки, падение платформы становится невозможным. Мы также можем усовершенствовать подъемник путем установки на платформу ограждений. Чтобы посторонний не мог попасть в лифт, он фиксируется специальными замками. Когда платформа находится в нерабочем положении, электропитание автоматически прекращается. Платформа оборудована антискользящим покрытием.',
		},
		{
			image: 'product-quality-01.png',
			image_width: '40',
			image_height: '56',
			title: 'ИННОВАЦИОННОСТЬ',
			text: 'Наши подъемники соответствуют требованиям современных стандартов и производятся по новейшим технологиям. Энергопотребление не превышает 1,5 кВт, уровень шума двигателя — 58 дБ. На площадке подъемника установлено антискользящее покрытие. Размеры площадки определяются требованиями заказчика.',
		},
		{
			image: 'product-quality-02.png',
			image_width: '52',
			image_height: '64',
			title: 'ЭФФЕКТИВНОСТЬ',
			text: 'Наши разработки производятся под эгидой госпрограммы «Доступная среда», поставила себе задачу - улучшение условий жизни маломобильных граждан. С помощью лифтовых подъемников, граждане с ограниченными возможностями получают беспрепятственный доступ в магазины, поликлиники, развлекательные центры, банки и т.п. Также такие подъемники могут быть установлены в многоэтажке или частном домовладении.',
		},
		{
			image: 'product-quality-03.png',
			image_width: '50',
			image_height: '48',
			title: 'ПОД ВАШИ ТРЕБОВАНИЯ',
			text: 'Наши менеджеры всегда рады оказать вам содействие в выборе конструкции и оснащения лифта для инвалидов, а также оформить заказ на производство и монтаж устройства. При проектировании мы учитываем режим эксплуатации и особенности установки внутри или снаружи здания. Монтаж будет производиться профессионалами и займет совсем немного времени.',
		},
	];

section.section-products-quality
	.container
		p.default-section-heading Мы гарантируем высокое качество <br>
			span нашей продукции
		.section-quality-group
			each item in quality_items
				.section-quality-item
					.section-quality-image-wrap
						img.section-quality-image(src='img/' + item.image alt=item.title width=item.image_width + 'px' height=item.image_height + 'px')
					p.section-quality-title=item.title
					hr.section-quality-line
					.section-quality-text=item.text
