//-
	-
		var product_title = 'Наша продукция',
				product_items = [
					{
						image: 'product-slider-02.png',
						name: 'КОНСОЛЬНЫЙ (МАЧТОВЫЙ) ПОДЪЕМНИК',
						costs: 'от 150 000 руб',
						capacity: 'до 2х тонн',
						height: 'до 30 м',
						speed: '0,13 м/с'
					},
					{
						image: 'product-slider-00.png',
						name: 'СЕРВИСНЫЙ (МАЛОГРУЗОВОЙ) ПОДЪЕМНИК',
						costs: 'от 150 000 руб',
						capacity: 'до 250 кг',
						height: 'до 30 м',
						speed: '0,13 м/с',
					},
					{
						image: 'product-slider-01.png',
						name: 'ПОДЪЕМНИК В ГЛУХУЮ ШАХТУ',
						costs: 'от 150 000 руб',
						capacity: 'до 10 000 кг',
						height: 'до 50 м',
						speed: '0,13 м/с'
					}
				],
				product_section_class = 'grey-background';

mixin products_slider_fullimage(product_title, product_items, product_items_count, product_section_class)
	section.section-products(class=product_section_class)
		.container
			p.default-section-heading !{product_title}
			.products-slick-slider.slick-arrows-styles
				each item in product_items_count
					each item in product_items
						.products-slider-item
							.products-slide-wrap
								.products-slider-image-wrap(style='background-image: url(img/' + item.image + ');')
									//img.products-item-image(src='img/' + item.image)
								.products-slider-item-content
									.products-slider-item-name=item.name
									.products-slider-item-costs=item.costs
									.products-slider-item-info
										if item.capacity
											.info-item.info-capacity
												span.info-item-name Грузоподъёмность:
												span.info-item-value=item.capacity
										if item.height
											.info-item.info-height
												span.info-item-name Высота подъема:
												span.info-item-value=item.height
										if item.speed
											.info-item.info-speed
												span.info-item-name Скорость подъёма латформы:
												span.info-item-value=item.speed
										if item.size
											.info-item.info-size
												span.info-item-name Размер платформы:
												span.info-item-value=item.size
										if item.power
											.info-item.info-power
												span.info-item-name Максимальная потребляемая мощность:
												span.info-item-value=item.power
									.products-actions-wrap
										button.products-slider-item-more(data-product='0') подробнее


