section.section-popup-form.section-popup-request.js-popup-request
	.popup-wrap
		.container
			.popup-overlay
			.popup-form-content
				button.popup-close-icon
				.site-form-wrapper
					h3.popup-title заявка на <br>подключение
					p.popup-text Заполните форму и мы свяжемся <br>с Вами в течении 5 минут
					form.site-form.js-form-submit
						.input-wrap
							i.font-icon.icon-user
							input.input-text.input-name(type="text" placeholder='ФИО:')
						.input-wrap
							i.font-icon.icon-phone-popup
							input.input-text.input-phone(type="text" placeholder='Телефон:')
						input.request.yandex-metrika-event(type="submit" value='подключить' data-goal='otpravit-vopros')
						.form-errors-cont
						input(type="checkbox" id="checkbox-popup-request" class="checkbox" checked)
						label(for="checkbox-popup-request") Согласие на обработку персональных данных.<br>
						a(href="#").form-text-ps Политика конфиденциальности.

section.section-popup-form.popup-tariff-L.js-popup-tariff-S
	.popup-wrap
		.container
			.popup-overlay
			.popup-form-content
				button.popup-close-icon
				h3.popup-title Пакет #[span S]
				.popup-tariff-group
					.popup-tariff-item
						i.font-icon.icon-speed
						.popup-tariff-item__text Скорость 75 мб/с
					.popup-tariff-item
						i.font-icon.icon-tv
						.popup-tariff-item__text 134 каналов (48 HD)
				.popup-tariff-table
					each item in popup_tariff_group
						.popup-tariff-table__item(class='.popup-tariff-table__item-' + item.color)
							p.popup-tariff-table__text=item.text
							p.popup-tariff-table__price=item.price
				p.popup-tariff-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
				buttom.popup-tariff-btn.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice-S" data-goal="podkluchit-tarif-2") подключить

section.section-popup-form.popup-tariff-L.js-popup-tariff-L
	.popup-wrap
		.container
			.popup-overlay
			.popup-form-content
				button.popup-close-icon
				h3.popup-title Пакет #[span L]
				.popup-tariff-group
					.popup-tariff-item
						i.font-icon.icon-speed
						.popup-tariff-item__text Скорость 100 мб/с
					.popup-tariff-item
						i.font-icon.icon-tv
						.popup-tariff-item__text 156 каналов (48 HD)
				.popup-tariff-table
					each item in popup_tariff_group
						.popup-tariff-table__item(class='.popup-tariff-table__item-' + item.color)
							p.popup-tariff-table__text=item.text
							p.popup-tariff-table__price=item.price
				p.popup-tariff-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
				buttom.popup-tariff-btn.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice-L" data-goal="podkluchit-tarif-2") подключить

section.section-popup-form.popup-tariff-L.js-popup-tariff-XXL
	.popup-wrap
		.container
			.popup-overlay
			.popup-form-content
				button.popup-close-icon
				h3.popup-title Пакет #[span XXL]
				.popup-tariff-group
					.popup-tariff-item
						i.font-icon.icon-speed
						.popup-tariff-item__text Скорость 300 мб/с
					.popup-tariff-item
						i.font-icon.icon-tv
						.popup-tariff-item__text 195 каналов (48 HD)
				.popup-tariff-table
					each item in popup_tariff_group
						.popup-tariff-table__item(class='.popup-tariff-table__item-' + item.color)
							p.popup-tariff-table__text=item.text
							p.popup-tariff-table__price=item.price
				p.popup-tariff-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
				buttom.popup-tariff-btn.js-show-popup-form.yandex-metrika-event(data-open="js-popup-choice-XXL" data-goal="podkluchit-tarif-2") подключить

section.section-popup-form.popup-choice.js-popup-choice-S
	.popup-wrap
		.container
			.popup-overlay
			.popup-form-content
				button.popup-close-icon
				h3.popup-title Вы выбрали Пакет #[span S]
				.popup-tariff-group
					.popup-tariff-item
						i.font-icon.icon-speed
						.popup-tariff-item__text Скорость 75 мб/с
					.popup-tariff-item
						i.font-icon.icon-tv
						.popup-tariff-item__text 134 каналов (48 HD)
				.popup-tariff-more-wrap
					a(href="#").popup-tariff-more Подробнее
				.popup-tariff-price #[span 850] <br>руб./месяц
				.site-form-wrapper
					form.site-form.js-form-submit
						.input-wrap
							i.font-icon.icon-user
							input.input-text.input-name(type="text" placeholder='ФИО:')
						.input-wrap
							i.font-icon.icon-phone-popup
							input.input-text.input-phone(type="text" placeholder='Телефон:')
						.input-wrap
							i.font-icon.icon-location
							input.input-text.input-address(type="text" placeholder='Адрес:')
						input.request.yandex-metrika-event(type="submit" value='подключить' data-goal='otpravit-vopros')
						.form-errors-cont
						input(type="checkbox" id="checkbox-popup-tariff" class="checkbox" checked)
						label(for="checkbox-popup-tariff") Согласие на обработку персональных данных.<br>
						a(href="#").form-text-ps Политика конфиденциальности.

section.section-popup-form.popup-choice.js-popup-choice-L
	.popup-wrap
		.container
			.popup-overlay
			.popup-form-content
				button.popup-close-icon
				h3.popup-title Вы выбрали Пакет #[span L]
				.popup-tariff-group
					.popup-tariff-item
						i.font-icon.icon-speed
						.popup-tariff-item__text Скорость 100 мб/с
					.popup-tariff-item
						i.font-icon.icon-tv
						.popup-tariff-item__text 156 каналов (48 HD)
				.popup-tariff-more-wrap
					a(href="#").popup-tariff-more Подробнее
				.popup-tariff-price #[span 850] <br>руб./месяц
				.site-form-wrapper
					form.site-form.js-form-submit
						.input-wrap
							i.font-icon.icon-user
							input.input-text.input-name(type="text" placeholder='ФИО:')
						.input-wrap
							i.font-icon.icon-phone-popup
							input.input-text.input-phone(type="text" placeholder='Телефон:')
						.input-wrap
							i.font-icon.icon-location
							input.input-text.input-address(type="text" placeholder='Адрес:')
						input.request.yandex-metrika-event(type="submit" value='подключить' data-goal='otpravit-vopros')
						.form-errors-cont
						input(type="checkbox" id="checkbox-popup-tariff" class="checkbox" checked)
						label(for="checkbox-popup-tariff") Согласие на обработку персональных данных.<br>
						a(href="#").form-text-ps Политика конфиденциальности.

section.section-popup-form.popup-choice.js-popup-choice-XXL
	.popup-wrap
		.container
			.popup-overlay
			.popup-form-content
				button.popup-close-icon
				h3.popup-title Вы выбрали Пакет #[span XXL]
				.popup-tariff-group
					.popup-tariff-item
						i.font-icon.icon-speed
						.popup-tariff-item__text Скорость 300 мб/с
					.popup-tariff-item
						i.font-icon.icon-tv
						.popup-tariff-item__text 195 каналов (48 HD)
				.popup-tariff-more-wrap
					a(href="#").popup-tariff-more Подробнее
				.popup-tariff-price #[span 1150] <br>руб./месяц
				.site-form-wrapper
					form.site-form.js-form-submit
						.input-wrap
							i.font-icon.icon-user
							input.input-text.input-name(type="text" placeholder='ФИО:')
						.input-wrap
							i.font-icon.icon-phone-popup
							input.input-text.input-phone(type="text" placeholder='Телефон:')
						.input-wrap
							i.font-icon.icon-location
							input.input-text.input-address(type="text" placeholder='Адрес:')
						input.request.yandex-metrika-event(type="submit" value='подключить' data-goal='otpravit-vopros')
						.form-errors-cont
						input(type="checkbox" id="checkbox-popup-tariff" class="checkbox" checked)
						label(for="checkbox-popup-tariff") Согласие на обработку персональных данных.<br>
						a(href="#").form-text-ps Политика конфиденциальности.

section.section-popup-form.section-popup-address.js-popup-address
	.popup-wrap
		.container
			.popup-overlay
			.popup-form-content
				button.popup-close-icon
				.popup-address-item.site-form-wrapper
					h3.popup-title По вашему адресу требуется дополнительная проверка
					p.popup-text Ззаполните форму и наш специалист свяжется с Вами в течении 5 минут для уточнения технической возможности
					form.site-form.js-form-submit
						.input-wrap
							i.font-icon.icon-user
							input.input-text.input-name(type="text" placeholder='ФИО:')
						.input-wrap
							i.font-icon.icon-phone-popup
							input.input-text.input-phone(type="text" placeholder='Телефон:')
						input.request.yandex-metrika-event(type="submit" value='проверить' data-goal='proverka-adresa-2')
						.form-errors-cont
						input(type="checkbox" id="checkbox-popup-request" class="checkbox" checked)
						label(for="checkbox-popup-request") Согласие на обработку персональных данных.<br>
						a(href="#").form-text-ps Политика конфиденциальности.
				.popup-address-item.popup-address-img
					img(src="img/popup-address-img.jpg")
