-
  var sidebar_categories = {
    class: 'sidebar-categories',
    title: 'Категории',
    visible_count: 6,
    groups: [
      {
        title: false,
        items: [
          {
            title: 'Реанимационное'
          },
          {
            title: 'Операционное',
          },
          {
            title: 'Реабилитационное',
          },
          {
            title: 'Реанимационное',
            class: 'active'
          },
          {
            title: 'Операционное',
          },
          {
            title: 'Реабилитационное',
          },
          {
            title: 'Операционное',
          },
          {
            title: 'Реабилитационное',
          }
        ]
      }
    ]
  };
-
  var sidebar_filters = {
    class: 'sidebar-filters',
    title: 'Фильтры',
    visible_count: 4,
    groups: [
      {
        title: 'Бренд',
        items: [
          {title: 'Siemens'},
          {title: 'Siemens', class: 'active'},
          {title: 'Siemens'},
          {title: 'Siemens'},
          {title: 'Siemens'},
        ]
      },
      {
        title: 'Цена',
        items: [
          {title: 'Siemens'},
          {title: 'Siemens'},
          {title: 'Siemens'},
          {title: 'Siemens'},
          {title: 'Siemens'},
        ]
      },
      {
        title: 'Бренд',
        items: [
          {title: 'Siemens'},
          {title: 'Siemens'},
          {title: 'Siemens'},
          {title: 'Siemens'},
          {title: 'Siemens'},
        ]
      },
      {
        title: 'Цена',
        items: [
          {title: 'Siemens'},
          {title: 'Siemens'},
          {title: 'Siemens'},
          {title: 'Siemens'},
          {title: 'Siemens'},
        ]
      },
      {
        title: 'Направление',
        items: [
          {title: 'Siemens'},
          {title: 'Siemens'},
          {title: 'Siemens'},
          {title: 'Siemens'},
          {title: 'Siemens'},
        ]
      },
    ]
  };

mixin sidebar_item(group)
  .sidebar-item(class=group.class)
    p.sidebar-item__title
      include ../../../img/sidebar-group-icon.svg
      | !{group.title}
    each group_item in group.groups
      .sidebar-group
        if group_item.title
          p.sidebar-group__title=group_item.title
        .sidebar-group__content(data-visible-items-count=group.visible_count data-visible-items-textmore='Показать все')
          each item in group_item.items
            a.sidebar-group__item(href='#' class=item.class)=item.title

aside.category-page__sidebar
  +sidebar_item(sidebar_categories)
  +sidebar_item(sidebar_filters)
  .active-filters
    a.active-filters__item(href='#') Siemens
    a.active-filters__item(href='#') 10 000 грн - 50 000 грн
  button.sidebar-reset-filters Сбросить все фильтры

